body{
    font-family: "Quicksand", sans-serif;
    background: url(OIP.jpg);
   
}

.block{
    display: block;
    text-align: center;
    margin: auto;
    background-color: azure;
    width: 50%;
    height: 10%;
    border-radius: 15px;
    font-size: 40px;
    margin-top: 130px;
    
    
}
.batoni button{
    background-color: rgb(255, 61, 184);
    color: black;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size:  43px;
    box-shadow: 1px 1px 2px 1px;
    margin-right: 40px;
    position: relative;
    left: 640px;
    left: 30px  ;
}
.batoni button:hover{
    box-shadow: 0px 0px 0px 0px;
}
.pozdrav{
    width: 900px;
    height: 500px;
    background-color: white;
    display: block;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    font-size: 40px;
    margin-top: 150px;
    font-family: Quicksand;
}

